@import url('../dist/Inter_web/inter.css');
html { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif !important; }
}

/* *{
 overflow-x: hidden;
} */